page-home {
  .item-section-header {
    font-size: 2.5vh;
    line-height: 2.5vh;    
  }
  .item-sub-header {
    font-size: 2.0vh;
    line-height: 2.0vh;
    white-space: normal;
    width: 100%;
  }
  .item-sub-header-right {
    font-size: 1.8vh;
    padding-right: 5%;
    text-align: right;
  }  
  .item-detail {
    font-size: 1.5vh;
    line-height: 1.5vh;
    color: color($colors, darkgrey);  
  }
  .item-spacer {
    height: 1vh;
    width: 100%;
  }
  .item-arrow-right {
    cursor: pointer;
    cursor: hand;    
  }
  .item-icon {
    font-size: 5vh;
  }
}
